<div class="container pt-3">
	<h1>Log In</h1>
	<form #logInForm="ngForm" class="form" (ngSubmit)="logIn()">
		<div *ngIf="showCartMessage" class="pt-2 text-danger">
			<p>Please log in to checkout.</p>
		</div>
		<div class="mb-3">
			<input type="email" required email class="form-control" #email="ngModel" name="email" id="email"
				[(ngModel)]="credentials.email" aria-describedby="emailHelp" placeholder="Email address"
				(input)="showLogInError = false" />
			<em id="emailRequired" class="error" *ngIf="email.errors?.['required'] && email.touched">Email is
				required</em>
			<em id="emailValid" class="error" *ngIf="email.errors?.['email'] && email.touched">Must be a valid
				email</em>

		</div>
		<div class="mb-3">
			<input type="password" required class="form-control" #password="ngModel" name="password" id="password"
				[(ngModel)]="credentials.password" placeholder="Password" (input)="showLogInError = false" />
			<em class="password]Required" *ngIf="password.invalid && password.touched">Password is required</em>
		</div>
		<div class="d-flex">
			<div>
				<button id="submitBtn" type="submit" [disabled]="logInForm.form.invalid" class="btn btn-primary">
					Log In
				</button>
			</div>
			<div class="ms-5 lh-lg">
				<div>Quick logins for demo:</div>
				<div><button class="btn btn-link" (click)="logTest(true)">Log in as admin user</button></div>
				<div><button class="btn btn-link" (click)="logTest(false)">Log in as non-admin user</button></div>
			</div>
		</div>
		<div class="logInError" *ngIf="showLogInError">
			Invalid Credentials. Please try again.
		</div>
	</form>
</div>