  .loginTitle {
  	font-size: 30px;
  	align-self: center;
  	color: #555;
  	padding-bottom: 10px;
  }

  input.error {
  	border: 1px solid #d25ca1;
  }

  .logInError {
  	margin: 25px 0;
  	color: #d25ca1;
  	font-size: 18px;
  	text-align: center;
  }