<div class="menu text-center fontSize">
	All our items are sold with a money-back guarantee. No questions asked!
</div>

<!-- <div class="menu">
	<div class="menuTitle">Contact Us</div>
	<div class="pb-2">Want to make an offer? Have a question for our staff?</div>
	<div class="pb-4">Let us know! We'll get back to you as soon as possible.</div>	
	<div class="pb-4">
		<form (ngSubmit)="send(questionForm)" #questionForm="ngForm">
			<textarea #question="ngModel" name="question" required minlength="5" [maxlength]="questionMaxLength"
			class="form-control" rows="3" [(ngModel)]="userAsked"
			placeholder="Enter your question here"></textarea>
			<div class="charsLeft">{{questionMaxLength - userAsked.length}} of {{questionMaxLength}} characters left</div>
			<em class="error" *ngIf="question.invalid && question.touched">Please describe your question in a few words.</em>		
			<div class="pt-2"><button type="submit" [disabled] ="question.invalid" class="btn btn-primary mt-2">Send</button></div>			
		</form>
	</div>	
	<div class="questionsList" *ngIf="questions.length > 0">
		<div class="pb-4">We know you are waiting to hear from us. 
		Our staff is working on your question<span *ngIf="questions.length>1">s</span>!</div>
		<div *ngFor="let question of questions">
			<p>{{question}}</p>
		</div>
	</div>	
</div> -->