<div class="container fontSize thanksContainer">
	<div class="thanks">
		<h1>Thank You!</h1>
		<div class="gift">
			We Have a Special Gift for You...
		</div>
	</div>
	<div class="amtOff">
		GET 50% OFF
	</div>
	<div class="coupon">
		Here's you coupon code. It never expires!
	</div>
	<div class="couponCode">
		SAVE50
	</div>
	<div class="redeem">
		Redeem this coupon code on your next purchase and receive 50% off!
	</div>
	<div>
		<button routerLink="/catalog" class="btn btn-primary">Shop Now!</button>
	</div>
</div>